<ion-header>
  <ion-toolbar>
    <ion-title>editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of itemAeditar ">
  <ion-item lines="full">
    <ion-label position="floating">Usuario Id</ion-label>
    <ion-input [(ngModel)]= "item.userId" type="number"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Titulo</ion-label>
    <ion-input [(ngModel)]="item.title" type="text"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Completado</ion-label>
    <ion-input [(ngModel)]="item.completed" type="text"></ion-input>
  </ion-item>

  </ion-card>

  <ion-button (click)="submitForm()" color="tertiary" expand="block" class="ion-margin-top" type="submit">Submit
  </ion-button> 
</ion-content>