<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido a Praxis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  

  <ion-list>
    <ion-card *ngFor="let item of enLocal" >
      <ion-card-header (click)="presentActionSheet(item)">
        <span>{{item.title}}</span>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button color="dark" expand="full" (click)="agregarItem()">Agregar item</ion-button>
  </ion-toolbar>
</ion-footer>
